.avatar
  width: fit-content
  display: flex
  align-items: center
  &__name
    font-size: 18px
    text-align: right
  &__picture
    width: 64px
    height: 64px
    border-radius: 50%
    margin-left: 10px